* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background-color: #44d7b6;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.slot {
  display: grid;
  place-items: center;
  width: 13rem;
  height: 13rem;
  border-radius: 999999px;
  background-color: #37c3a4;
  font-size: 4rem;
  font-weight: bold;
}

.slot img {
  width: 100%;
  height: 100%;
}

#control {
  display: flex;
  width: 80%;
  margin-top: 1rem;
}

#control button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: none;
  cursor: pointer;
}

#control img {
  width: 100%;
  height: auto;
}

#control button:nth-child(2) img {
  width: 72.5%;
}

#control button:nth-child(3) img {
  width: 65%;
}
